<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>770562749688-qs1r7k33h9uqg5q64ob6muovsqj6hlre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770562749688-qs1r7k33h9uqg5q64ob6muovsqj6hlre</string>
	<key>API_KEY</key>
	<string>AIzaSyAV5zITUjQU3e-Q7GFsetvXnRsdFqvBZYI</string>
	<key>GCM_SENDER_ID</key>
	<string>770562749688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bltechapps.budget3</string>
	<key>PROJECT_ID</key>
	<string>mybudget-89519</string>
	<key>STORAGE_BUCKET</key>
	<string>mybudget-89519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:770562749688:ios:d9cc3fa52276b60d</string>
	<key>DATABASE_URL</key>
	<string>https://mybudget-89519.firebaseio.com</string>
</dict>
</plist>